@use './variables' as *;

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  color: $color-text;
  font-weight:300;
}
button,
input,
textarea,
select {
  font: inherit;
}
button {
  cursor: pointer;
}
img {
  max-width: 100%;
  display: block;
}